<launch>
    <arg name="enable_depth"        default="true"/>
    <arg name="serialport"          default="/dev/rplidar"/>
    <arg name="enable_laser_filter" default="true"/>

    <!-- robot -->
    <include file="$(find closedloop_nav_slam)/launch/realworld/minimal.launch">
    </include>

    <!-- laser -->
    <include file="$(find closedloop_nav_slam)/launch/realworld/rplidar_s2.launch">
        <arg name="serialport" value="$(arg serialport)" />
        <arg name="scan_topic" value="/scan_base" if="$(arg enable_laser_filter)"/>
    </include>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" if="$(arg enable_laser_filter)">
        <rosparam command="load" file="$(find closedloop_nav_slam)/configs/params/sensor/laser_filter_config.yaml" />
        <remap from="scan" to="/scan_base" />
        <remap from="scan_filtered" to="/scan" />
    </node>

    <!-- camera -->
    <include file="$(find closedloop_nav_slam)/launch/realworld/realsense_stereo_nodelet.launch">
        <arg name="enable_depth" value="$(arg enable_depth)" />
    </include>
 
</launch>