<launch>
    <arg name="enable_depth"        default="true"/>
    <arg name="serialport"          default="/dev/rplidar"/>

    <!-- robot -->
    <include file="$(find closedloop_nav_slam)/launch/realworld/minimal.launch">
    </include>

    <!-- laser -->
    <include file="$(find rplidar_ros)/launch/rplidar_s2.launch">
        <arg name="serialport" value="$(arg serialport)" />
    </include>

    <!-- camera -->
    <include file="$(find closedloop_nav_slam)/launch/realworld/realsense_stereo_nodelet.launch">
        <arg name="enable_depth" value="$(arg enable_depth)" />
    </include>
 
</launch>