<launch>

  <arg name="vis" default="false"/>
  <arg name="nav_name" default="teb"/> <!-- teb, gpf -->

  <!-- move_base -->
  <group if="$(eval arg('nav_name') == 'teb')">
    <include file="$(find turtlebot_demo)/launch/turtlebot_teb_controller.launch"/>
  </group>
 
   <group if="$(eval arg('nav_name') == 'gpf')">
    <include file="$(find slam_nav)/launch/nav_controller/turtlebot_switched_gpf_potential_gap_laser_ego_remote_controller.launch"/>
  </group>
 
  <!-- Visualization.-->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" name="closedloop_rviz" output="screen" args="-d $(find closedloop_nav_slam)/launch/closedloop_viz.rviz">
    </node>
  </group>

</launch>