<launch>

  <arg name="vis" default="false"/>

  <!-- move_base -->
  <include file="$(find turtlebot_demo)/launch/turtlebot_teb_controller.launch"/>
  
  <!-- Visualization.-->
  <group if="$(arg vis)">
    <node pkg="rviz" type="rviz" name="closedloop_rviz" output="screen" args="-d $(find closedloop_nav_slam)/launch/closedloop_viz.rviz">
    </node>
  </group>

</launch>